@media only screen and (max-width: 596px) {
    nav ul li {
        display: none;
    }

    .slider-track {
        width: calc(300px * 8);
        height: 230px;
        animation: slide 20s linear infinite;
    }
    .slide {
        width: 300px;
        height: 200px;
    }
    @keyframes slide {
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(calc(-300px * 4));
        }
    }

    .s-cards {
        height: 640px;
    }

    .second-section {
        height: 900px;
    }

    .third-section {
        height: 1400px;
    }
    .t-num-box {
        height: 150px;
    }

    .fourth-section{
        height: 500px;
    }

    .fourth-section video:nth-child(2) {
        width: 300px;
        height: 200px;
    }

    .sixth-timer-child h1 {
        font-size: 45px;
    }

    .eighth-input-box input {
        width: 200px;
    }

    .footer {
        height: 800px;
    }

    .t-num-box1 {
        border-right: none;
    }
    .t-num-box3{
        border-left: none;
    }
}


@media only screen and (max-width: 440px) {
    .footer {
        height: 1000px;
    }
}